#############################################
# These additional PIP3 packages are required
#############################################

# Pattoo packages

PattooShared>=0.0.25

# Miscellaneous packages
PyYAML

# Database packages
pymysql
sqlalchemy

# Web server packages
Flask
flask-graphql
gunicorn

# GraphQL packages
graphene
graphene-sqlalchemy
