#############################################
# These additional PIP3 packages are required
#############################################

# Pattoo packages

PattooShared==0.0.83

# Miscellaneous packages
PyYAML

# Database packages
PyMySQL
SQLAlchemy

# GraphQL packages
graphene
graphene-sqlalchemy

# Web server packages
Flask==1.1.1
Flask-GraphQL
Flask-Caching
Flask-Testing==0.7.1
gunicorn
requests

# Mathematical libraries
numpy
pandas

# System libraries
psutil

# Helps with multiprocessing errors
tblib
