[Unit]
Description=pattoo_ingesterd daemon
Wants=network.target
After=network.target mysql.service mysqld.service mariadb.service mariadb@.service

[Service]
Environment="PATTOO_CONFIGDIR=x" "PYTHONPATH=/opt/pattoo-daemon/.python:$PYTHONPATH"
RuntimeDirectoryPreserve=yes
RuntimeDirectory=PATTOO_SYSTEM_DAEMON_DIRECTORY
User=pattoo
Group=pattoo
ExecStart=INSTALLATION_DIRECTORY/bin/pattoo_ingesterd.py --start
ExecStop=INSTALLATION_DIRECTORY/bin/pattoo_ingesterd.py --stop
ExecReload=INSTALLATION_DIRECTORY/bin/pattoo_ingesterd.py --restart
RemainAfterExit=yes
GuessMainPID=yes
Type=forking

[Install]
WantedBy=multi-user.target
