[Unit]
Description=pattoo-api-agentd daemon
Wants=network.target
After=network.target

[Service]
Environment="PATTOO_CONFIGDIR=x"
User=pattoo
Group=pattoo
ExecStart=
ExecStart=INSTALLATION_DIRECTORY/bin/pattoo-api-agentd.py --start
ExecStop=INSTALLATION_DIRECTORY/bin/pattoo-api-agentd.py --stop
ExecReload=INSTALLATION_DIRECTORY/bin/pattoo-api-agentd.py --restart
RemainAfterExit=yes
GuessMainPID=yes
Type=forking

[Install]
WantedBy=multi-user.target
