[Unit]
Description=pattoo_apid daemon
Wants=network.target
After=network.target

[Service]
Environment="PATTOO_CONFIGDIR=x"
RuntimeDirectory=PATTOO_SYSTEM_DAEMON_DIRECTORY
User=pattoo
Group=pattoo
ExecStart=
ExecStart=INSTALLATION_DIRECTORY/bin/pattoo_apid.py --start
ExecStop=INSTALLATION_DIRECTORY/bin/pattoo_apid.py --stop
ExecReload=INSTALLATION_DIRECTORY/bin/pattoo_apid.py --restart
RemainAfterExit=yes
GuessMainPID=yes
Type=forking

[Install]
WantedBy=multi-user.target
